@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&family=Lobster&display=swap');

@import "tailwindcss";

html {
    @apply overflow-x-hidden scroll-smooth;
}

body {
    @apply bg-gray-200 text-black tracking-wider;
}

section {
    @apply sm:py-20 md:py-28;
}

h1 {
    @apply text-3xl md:text-4xl xl:text-5xl font-bold;
}

h2 {
    @apply text-2xl md:text-3xl xl:text-4xl;
}

h3 {
    @apply text-xl md:text-2xl xl:text-3xl;
}

.nav-link {
    @apply text-lg font-bold duration-300;
}

.nav-link:hover {
    @apply text-yellow-500;
}

/* active */
.active {
    @apply text-yellow-500;
}

.title {
    @apply text-yellow-500;
}

/* Button */
.btn {
    @apply border border-green-700 bg-green-700 text-white rounded-md px-5 py-2 duration-300;
}

.btn span {
    @apply font-bold;
}

.btn:hover {
    @apply opacity-90;
}

.btn_outline {
    @apply bg-transparent text-green-700;
}

.btn_outline:hover {
    @apply bg-green-700 text-white;
}

.popular_card:hover img {
    @apply -top-8;
}